@mixin btn-400 {
    
        align-items: stretch;
        padding: 0;
        margin: 0;
        max-width: unset;
        div {
            max-width: unset;
            padding: 0;
            align-items: center;
                
            .btn {
                max-width: unset;
                height: 32px;
                min-width: unset;
                width: 60px;
                font-size: 1.2rem;
            }
            .start-stop-btn {
                margin-right: 5px;
                font-size: 1.2rem;
            }
            .refresh-btn {
                margin-left: 5px;
                font-size: 1.2rem;
            }
            


            button {
                max-width: unset;
                height: 32px;
                min-width: unset;
                width: 60px;
                font-size: 1.2rem;
            }
        }
    }






@media screen and (max-width:1300px) {
    body {
        .auk-container {
            .auk-row {
                .right-col {
                    textarea {
                        font-size: 3vw;

                    }
                }
            }
        }
    }
}
@media screen and (max-width:1200px) {
    body {
        .auk-container {
            .auk-row {
                .right-col {
                    textarea {
                        

                    }
                }
                .clock-col {

                    .background-line {
                        height: 21vw;
                        line-height: 6.7vw;

                            .timer {
                            p{
                                font-size: 10vw;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1011px) {
    body {

        .auk-container {
            .auk-row {
                .right-col {
                    textarea {
                        height: calc(95vh - 410px);
                        width: calc(100vw - 30px);
                        // min-width: none;
                        // font-size: 3rem;

                    }
                }
                .clock-col {
                    .background-line {
                        line-height: 8rem;

                        height: 25rem;
                            .timer {
                            p{
                                font-size: 12rem;

                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    body {
        div.container {
            header {
                h4 {
                    font-size: 5.25vw;
                }
            }
        }
        .auk-container {
            .auk-row {
                .right-col {

                    textarea {
                    // height: 55vh;
                    // width: 95vw;
                    font-size: 4vw;

                }
                }
                .clock-col {
                    .background-line {
                        line-height: 8rem;
                        margin-left: 15px;

                        height: 25rem;
                            .timer {
                            p{
                                font-size: 12rem;

                            }
                        }
                    }
                }
            }
        }
    }
}




@media screen and (max-width:576px) {
    body {

        .auk-container {
            .auk-row {
                .right-col {
                    // width: 100vw;
                }
                .clock-col {
                    font-size: 12vw;
                    .background-line {
                        .timer-up-btns {
                            @include btn-400;
                            div {
                                button {
                                // margin-left: 40px;
                                font-size: 1.2rem;
                                }
                            }
                        }
                        
                            .timer {
                            p{
                                font-size: 20vw;
                                span {
                                    font-size: 12vw;
                                }
                            }
                        }
                    }
                    .text-over {
                        p {
                            font-size: 4vw;
                        }
                    }
                    .text-under {

                        p {
                            font-size: 4vw;
                        }
                    }       
                }
            }
        }
    }
}
@media screen and (max-width:400px) {
    body {
        .auk-container {
            .auk-row {
                .background-line {
                    .timer-up-btns {
                        @include btn-400
                }




                    .timer-bot-btns {
                        @include btn-400
                }
            }
                .right-col {
                    textarea {
                        font-size: 1.5rem;

                    }
                }
            }
        }
    }
}
@media screen and (max-width:300px) {
    body {
        .auk-container {
            .auk-row {
                .background-line {
                    
                }
                .right-col {
                    textarea {
                        font-size: 1rem;
                        

                    }
                }
            }
        }
    }
}