html {
  font-size: 10px;
}

body {
  font-family: calibri,sans-serif;
  font-size: 16px;
  background: url(../img/background.png) repeat;
  color: #757575;
  height: 100%;
}

body div.container {
  background-color: #00796B;
}

body div.container header {
  padding: 1rem 3rem;
}

body div.container header h4 {
  font-size: 4rem;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
}

body div.container header h4 > span {
  color: #212121;
}

body .auk-container .auk-row {
  height: inherit;
}

body .auk-container .auk-row .right-col {
  height: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .auk-container .auk-row .right-col .toggle-row .btn {
  width: 150px;
  height: 30px;
  margin: 10px 10px 0 10px;
  font-size: 100%;
}

body .auk-container .auk-row .right-col .buttons-row {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-line-pack: center;
      align-content: center;
}

body .auk-container .auk-row .right-col .buttons-row .btn {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 100%;
  width: 50px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 100%;
  height: 3rem;
  color: #FFFFFF;
}

body .auk-container .auk-row .right-col .buttons-row .btn:hover {
  cursor: pointer;
}

body .auk-container .auk-row .right-col textarea {
  height: calc(95vh - 100px);
  background-color: #FFFFFF;
  border: 4px solid #B2DFDB;
  border-radius: 0.5rem;
  font-size: 4rem;
  line-height: 1.5;
  margin-left: 0;
  margin-right: 0;
  color: #212121;
  width: 100%;
  white-space: pre;
  text-anchor: end;
  text-align: end;
  min-height: 175px;
}

body .auk-container .auk-row .right-col .lot-row {
  padding: 10px 0px;
  font-size: 28px;
  min-width: 600px;
}

body .auk-container .auk-row .right-col .lot-row .between {
  width: 30px;
  text-align: center;
  color: #FFFFFF;
}

body .auk-container .auk-row .right-col .lot-row .between-2 {
  width: 15px;
}

body .auk-container .auk-row .right-col .lot-row input {
  line-height: 1;
  border: 3px solid #00796B;
  border-radius: 5px;
}

body .auk-container .auk-row .right-col .lot-row input:focus {
  border: 3px solid #448AFF;
  -webkit-box-shadow: 0 0 50px silver;
          box-shadow: 0 0 50px silver;
}

body .auk-container .auk-row .right-col .lot-row input input[type='number'] {
  -moz-appearance: textfield;
}

body .auk-container .auk-row .right-col .lot-row input input::-webkit-outer-spin-button,
body .auk-container .auk-row .right-col .lot-row input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

body .auk-container .auk-row .right-col .lot-row .lot-title {
  width: calc(100% - 324px);
  text-align: end;
  min-width: 200px;
}

body .auk-container .auk-row .right-col .lot-row .lot-price {
  width: 95px;
}

body .auk-container .auk-row .right-col .lot-row .lot-add-price {
  width: 95px;
}

body .auk-container .auk-row .right-col .lot-row #title-1,
body .auk-container .auk-row .right-col .lot-row #price-1,
body .auk-container .auk-row .right-col .lot-row #add-1 {
  border: 3px solid gold;
  -webkit-box-shadow: 0 0 10px gold;
          box-shadow: 0 0 10px gold;
}

body .auk-container .auk-row .right-col .lot-row #title-1:focus,
body .auk-container .auk-row .right-col .lot-row #price-1:focus,
body .auk-container .auk-row .right-col .lot-row #add-1:focus {
  border: 3px solid #448AFF;
  -webkit-box-shadow: 0 0 25px #448AFF;
          box-shadow: 0 0 25px #448AFF;
}

body .auk-container .auk-row .right-col .lot-row #title-2,
body .auk-container .auk-row .right-col .lot-row #price-2,
body .auk-container .auk-row .right-col .lot-row #add-2 {
  border: 3px solid silver;
  -webkit-box-shadow: 0 0 10px silver;
          box-shadow: 0 0 10px silver;
}

body .auk-container .auk-row .right-col .lot-row #title-2:focus,
body .auk-container .auk-row .right-col .lot-row #price-2:focus,
body .auk-container .auk-row .right-col .lot-row #add-2:focus {
  border: 3px solid #448AFF;
  -webkit-box-shadow: 0 0 50px silver;
          box-shadow: 0 0 50px silver;
}

body .auk-container .auk-row .right-col .lot-row button {
  width: 30px;
  height: 42px;
  font-size: 100%;
  line-height: 1;
}

body .auk-container .auk-row .right-col .add-button-row .btn {
  width: 150px;
  height: 30px;
  font-size: 100%;
}

body .auk-container .auk-row .clock-col {
  max-width: 600px;
  margin-right: 0px;
}

body .auk-container .auk-row .clock-col .text-over p {
  margin-top: 7px;
  text-align: center;
  color: #212121;
  font-size: 2rem;
  -webkit-transition: 1s;
  transition: 1s;
}

body .auk-container .auk-row .clock-col .background-line {
  height: 250px;
  background-color: #00796B;
  background-attachment: unset;
  margin-left: 0px;
  border: 3px solid #BDBDBD;
  border-left: none;
  border-right: none;
  line-height: 8rem;
}

body .auk-container .auk-row .clock-col .background-line .timer-up-btns {
  height: 70px;
}

body .auk-container .auk-row .clock-col .background-line .timer-up-btns div button {
  max-width: 10em;
  font-size: 2rem;
  height: 32px;
  line-height: 1;
  min-width: 4em;
  min-height: 1em;
  border-radius: 8px;
}

body .auk-container .auk-row .clock-col .background-line .timer {
  height: 105px;
}

body .auk-container .auk-row .clock-col .background-line .timer p {
  height: 105px;
  font-size: 12rem;
  line-height: 1;
  text-align: center;
  text-justify: center;
  color: #FFFFFF;
  padding-top: 0;
  margin-bottom: 0;
}

body .auk-container .auk-row .clock-col .background-line .timer p span {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 8rem;
  line-height: 1;
}

body .auk-container .auk-row .clock-col .background-line .timer-bot-btns {
  height: 70px;
}

body .auk-container .auk-row .clock-col .background-line .timer-bot-btns div {
  height: 32px;
}

body .auk-container .auk-row .clock-col .background-line .timer-bot-btns div button {
  height: 32px;
  max-width: 6em;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  min-width: 5em;
  min-height: 1em;
  border-radius: 8px;
}

body .auk-container .auk-row .clock-col .text-under p {
  text-align: center;
  color: transparent;
  font-size: 2rem;
  -webkit-transition: 1s;
  transition: 1s;
}

@media screen and (max-width: 1300px) {
  body .auk-container .auk-row .right-col textarea {
    font-size: 3vw;
  }
}

@media screen and (max-width: 1200px) {
  body .auk-container .auk-row .clock-col .background-line {
    height: 21vw;
    line-height: 6.7vw;
  }
  body .auk-container .auk-row .clock-col .background-line .timer p {
    font-size: 10vw;
  }
}

@media screen and (max-width: 1011px) {
  body .auk-container .auk-row .right-col textarea {
    height: calc(95vh - 410px);
    width: calc(100vw - 30px);
  }
  body .auk-container .auk-row .clock-col .background-line {
    line-height: 8rem;
    height: 25rem;
  }
  body .auk-container .auk-row .clock-col .background-line .timer p {
    font-size: 12rem;
  }
}

@media screen and (max-width: 768px) {
  body div.container header h4 {
    font-size: 5.25vw;
  }
  body .auk-container .auk-row .right-col textarea {
    font-size: 4vw;
  }
  body .auk-container .auk-row .clock-col .background-line {
    line-height: 8rem;
    margin-left: 15px;
    height: 25rem;
  }
  body .auk-container .auk-row .clock-col .background-line .timer p {
    font-size: 12rem;
  }
}

@media screen and (max-width: 575px) {
  body .auk-container .auk-row .clock-col {
    font-size: 12vw;
  }
  body .auk-container .auk-row .clock-col .background-line .timer-up-btns {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 0;
    margin: 0;
    max-width: unset;
  }
  body .auk-container .auk-row .clock-col .background-line .timer-up-btns div {
    max-width: unset;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .auk-container .auk-row .clock-col .background-line .timer-up-btns div .btn {
    max-width: unset;
    height: 32px;
    min-width: unset;
    width: 60px;
    font-size: 1.2rem;
  }
  body .auk-container .auk-row .clock-col .background-line .timer-up-btns div .start-stop-btn {
    margin-right: 5px;
    font-size: 1.2rem;
  }
  body .auk-container .auk-row .clock-col .background-line .timer-up-btns div .refresh-btn {
    margin-left: 5px;
    font-size: 1.2rem;
  }
  body .auk-container .auk-row .clock-col .background-line .timer-up-btns div button {
    max-width: unset;
    height: 32px;
    min-width: unset;
    width: 60px;
    font-size: 1.2rem;
  }
  body .auk-container .auk-row .clock-col .background-line .timer-up-btns div button {
    font-size: 1.2rem;
  }
  body .auk-container .auk-row .clock-col .background-line .timer p {
    font-size: 20vw;
  }
  body .auk-container .auk-row .clock-col .background-line .timer p span {
    font-size: 12vw;
  }
  body .auk-container .auk-row .clock-col .text-over p {
    font-size: 4vw;
  }
  body .auk-container .auk-row .clock-col .text-under p {
    font-size: 4vw;
  }
}

@media screen and (max-width: 400px) {
  body .auk-container .auk-row .background-line .timer-up-btns {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 0;
    margin: 0;
    max-width: unset;
  }
  body .auk-container .auk-row .background-line .timer-up-btns div {
    max-width: unset;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .auk-container .auk-row .background-line .timer-up-btns div .btn {
    max-width: unset;
    height: 32px;
    min-width: unset;
    width: 60px;
    font-size: 1.2rem;
  }
  body .auk-container .auk-row .background-line .timer-up-btns div .start-stop-btn {
    margin-right: 5px;
    font-size: 1.2rem;
  }
  body .auk-container .auk-row .background-line .timer-up-btns div .refresh-btn {
    margin-left: 5px;
    font-size: 1.2rem;
  }
  body .auk-container .auk-row .background-line .timer-up-btns div button {
    max-width: unset;
    height: 32px;
    min-width: unset;
    width: 60px;
    font-size: 1.2rem;
  }
  body .auk-container .auk-row .background-line .timer-bot-btns {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 0;
    margin: 0;
    max-width: unset;
  }
  body .auk-container .auk-row .background-line .timer-bot-btns div {
    max-width: unset;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .auk-container .auk-row .background-line .timer-bot-btns div .btn {
    max-width: unset;
    height: 32px;
    min-width: unset;
    width: 60px;
    font-size: 1.2rem;
  }
  body .auk-container .auk-row .background-line .timer-bot-btns div .start-stop-btn {
    margin-right: 5px;
    font-size: 1.2rem;
  }
  body .auk-container .auk-row .background-line .timer-bot-btns div .refresh-btn {
    margin-left: 5px;
    font-size: 1.2rem;
  }
  body .auk-container .auk-row .background-line .timer-bot-btns div button {
    max-width: unset;
    height: 32px;
    min-width: unset;
    width: 60px;
    font-size: 1.2rem;
  }
  body .auk-container .auk-row .right-col textarea {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 300px) {
  body .auk-container .auk-row .right-col textarea {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */