// green with blue accent

$primary-color-dark:   #00796B;
$primary-color:        #009688;
$primary-color-light:  #B2DFDB;
$primary-color-text:   #FFFFFF;
$accent-color:         #448AFF;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

//all green

//$primary-color-dark: #00796B;
// $primary-color: #009688;
// $primary-color-light: #B2DFDB;
// $primary-color-text: #FFFFFF;
// $accent-color: #536DFE;
// $primary-text-color: #212121;
// $secondary-text-color: #757575;
// $divider-color: #BDBDBD;

//blue

// $primary-color-dark:   #303F9F;
// $primary-color:        #3F51B5;
// $primary-color-light:  #C5CAE9;
// $primary-color-text:   #FFFFFF;
// $accent-color:         #607D8B;
// $primary-text-color:   #212121;
// $secondary-text-color: #757575;
// $divider-color:        #BDBDBD;
html {
    font-size: 10px;
}
body {
    
    button {
        box-shadow: 3px 3px 0 black;
    }
    .btn-primary,
    .btn-secondary {
        box-shadow: none;
        
    }
    .btn-primary{
        // border: 2px outset #0062cc;
        box-shadow: 3px 3px 0 #0062cc;
    }
    .btn-secondary{
        // border: 2px outset #545b62;
        box-shadow: 3px 3px 0 #545b62;
    }


    font-family: calibri,sans-serif;
    font-size: 16px;
    background: url(../img/background.png) repeat;
    color: $secondary-text-color;
    //шапка
    div.container {
        background-color: $primary-color-dark;
        header {
            padding: 1rem 3rem;
            h4 {
                font-size: 4rem;
                font-weight: bold;
                color: $primary-color-text;
                text-align: center;
                >span {
                    color: $primary-text-color;
                }
            }
        }
    }
    height: 100%;
    //Основная часть
    .auk-container {
        
        .auk-row {
            height: inherit;
            .right-col { //Левая сторона
                // min-width: 600px;
                height: inherit;
                align-items: center;
                justify-content: center;
                .toggle-row {
                    .btn {
                        justify-self: center;
                        width: 112.5px;
                        height: 30px;
                        margin: 10px 10px 0 10px;
                        font-size: 100%;
                        
                    }
                    .time-spend-container { 
                        justify-self: end;
                        height: 30px;
                        margin: 10px 10px 0 10px;
                        font-size: 100%;
                        p {
                            text-align: end;
                            color: $primary-text-color;
                            font-size: 2rem;
                            transition: 1s;
                        }
                    }
                }
                .buttons-row {
                    // height: 40px;
                    
                    // margin-bottom: 10px;
                    justify-content: left;
                    align-content: center;                    
                    .btn {
                        margin-top: 5px;
                        margin-bottom: 5px;
                        height: 100%;
                        // border: 1px solid #000;
                        width: 50px;
                        margin-left: 15px;
                        margin-right: 15px;
                        font-size: 100%;
                        // line-height: inherit;
                        height: 3rem;
                        // text-align: center;
                        color: $primary-color-text;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }

                // padding-left: 30px;
                textarea {
                    height: calc(95vh - 100px);
                    // width: 100%;
                    // height: 700px;
                    // min-width: 650px;
                    // padding: 0rem;
                    background-color: $primary-color-text;
                    border: 4px solid $primary-color-light;
                    // margin: 1.5rem;
                    // margin-bottom: 1.5rem;
                    border-radius: 0.5rem;
                    font-size: 4rem;
                    line-height: 1.5;
                    margin-left: 0;
                    margin-right: 0;
                    color: $primary-text-color;
                    width: 100%;
                    white-space: pre;
                    text-anchor: end;  
                    text-align: end;
                    min-height: 175px;
                
                }
                .lot-row {
                    padding: 10px 0px;
                    font-size: 45px;
                    min-width: 500px;
                    height: 65px;
                    line-height: 1;
                    
                    
                    .between {
                        width: 30px;
                        text-align: center;
                        color: $primary-color-text;
                    }
                    .between-2 {
                        width: 15px;
                    }
                    
                    .lot-title {
                        width: calc(100% - 364px);
                        text-align: end;
                        min-width: 200px;
                    }
                    .lot-price {
                        width: 130px;
                    }
                    .lot-add-price {
                        width: 100px;
                        font-size: 24px;
                        
                    }
                    #title-1,
                    #price-1,
                    #add-1 {
                        background-color: gold;
                        color: $primary-text-color;
                        text-shadow: 25px $accent-color;
                        border: 5px outset gold;
                        box-shadow: 0 0 10px gold, 3px 3px 0 $primary-text-color;
                        
                        &:focus {
                            border: 5px outset $accent-color;
                            box-shadow: 0 0 25px $accent-color, 3px 3px 0 $primary-text-color;
                        }
                    }
                    #title-2,
                    #price-2,
                    #add-2 {                        
                        background-color: silver;
                        color: $primary-text-color;
                        border: 5px outset $divider-color;
                        box-shadow: 0 0 10px $divider-color, 3px 3px 0 $primary-text-color;
                        &:focus {
                            border: 5px outset $accent-color;
                            box-shadow: 0 0 50px $divider-color, 3px 3px 0 $primary-text-color;
                        }
                    }
                    input {
                        box-shadow: 3px 3px 0 $primary-text-color;
                        background-color: rgb(216, 216, 216);
                        font-size: 36px;
                        line-height: 1;
                        height: 100%;
                        border: 3px solid $primary-text-color;
                        border-radius: 5px;
                        &:focus {
                            background-color: white;
                            border: 3px solid $accent-color;
                            box-shadow: 0 0 25px $divider-color, 3px 3px 0 $primary-text-color;
                        }
                        
                    }
                    button {
                        width: 30px;
                        height: 42px;
                        font-size: 32px;
                        line-height: 1; 
                        border-radius: 5px;                       
                    }
                }
                .add-button-row {
                    .btn {
                        width: 112.5px;
                        height: 30px;
                        font-size: 100%;
                    }
                }

            }    
            .clock-col { //Правая сторона (часы)
                max-width: 600px;
                max-height: 90vh;
                margin-right: 0px;
                .text-over {
                    p {
                        margin-top: 7px;
                        text-align: center;
                        color: $primary-text-color;
                        font-size: 2rem;
                        transition: 1s;


                    }
                }
                .background-line {
                    // width: 100%;
                    height: 250px;
                    background-color: $primary-color-dark;
                    background-attachment: unset;
                    margin-left: 0px;
                    border: 3px solid $divider-color;
                    border-left: none;
                    border-right: none;
                    line-height: 8rem;
                    .timer-up-btns {
                        height: 70px;
                        div {
                            button {
                                max-width: 10em;
                                font-size: 2rem;
                                // padding: 0;
                                height: 32px;
                                line-height: 1;
                                min-width: 4em;
                                min-height: 1em;
                                border-radius: 5px;
                            }
                        }
                    }
                    .timer {
                        height: 105px;
                        
                        p { 
                            height: 105px;
                            font-size: 12rem;
                            line-height: 1;
                            text-align: center;
                            text-justify: center;
                            // font-weight: bold;
                            color: $primary-color-text;
                            padding-top: 0;
                            margin-bottom: 0;
                            text-shadow: 4px 4px 0 black;
                            span {
                                align-self: flex-end;
                                font-size: 8rem;
                                line-height: 1;
                            }
                        }
                        
                    }
                    .timer-bot-btns {
                        height: 70px;
                        // margin-bottom: 20em;
                        div {
                            height: 32px;

                            
                            button {
                                height: 32px;
                                max-width: 6em;
                                font-size: 2rem;
                                margin: 0;
                                padding: 0;
                                min-width: 5em;
                                min-height: 1em;
                                border-radius: 5px;
                            }
                        }
                    } 
                }
                .text-under {
                    p {
                        text-align: center;
                        color: transparent;
                        font-size: 2rem;
                        transition: 1s;


                    }
                }
            }
        }
        
    }
    
}
@import 'media';










